body {
    font-family: serif, Arial;
} /*Set the font-family Serif as default for webpage*/
h1 {
    font-size: 45pt;
}
h3 {
    font-size: 18pt;
}
.shout {
    font-size: 35pt;
    font-family: cursive;
    font-weight:bolder;
}
.header{
    position:relative;
    top:-80px;
    left:0;
}
.nav{ 
    position: fixed;
    top: 0;
    background-color:white;
    width: 100%;
    z-index: 9999;
}/*Keep navbar fix to top and in front of all text*/
.nav a{
    text-decoration: none;
    font-size: 20pt;
    color: black;
}
.nav a:hover{
    background-color:#E5E5E6;
}
.logo_image {
    height:50px;
}
.select{
    font-size :24pt;
}
.display {
    font-family: cursive, fantasy;
    font-size: 40px;
}
#quote{
    position:relative;
    top:-650%;
}
.form-title{
    font-size:16pt;
    font-family:San-serif;
    color:rgba(17,17,17,0.9);
    /*text-shadow: 2px 2px 4px #000000;*/
}
main {
    /*background-color: rgba(20,20,00,0.25);*/
    padding: 50px;
}
.page{
    width: 100%;
    height: 150px;
}
.rectangle{
    width: 30%;
    height: 600px;
    font-size:16pt;
}
.rectangle span{
    font-size:19pt;
}
.rectangle:hover{
    background-color:rgba(0,0,0,0.8);
}
.step{
    width: 80%;
}

/*Pre-fix decorations*/
.red {
    color: #FF2D2D;
}
.white{
    color:white;
}
.b-white{
    background-color:white;
}
.b-gray {
    background-color: rgba(50,50,50,1);
}
.b-l-gray {
    background-color: rgba(0,0,0,0.7);
}
.b-p-gray {
    background-color: rgba(0,0,0,0.8);
}

/*Social media items*/

icon-bar {
    background-color: white;
    /*padding: 10px;*/
    bottom: 0;
    width: 100%;
}

.fa {
    padding: 15px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/*Background for social media tags*/

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/*footer decorations*/

footer {
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0;
}

.footer-text a {
    color: black;
    font-size: 15px;
}
